<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partial/linkinhead %>
    <title>Subjects</title>
</head>
<body>
<% include ../partial/navbar %>
<div class="container">
<table class="table">
<thead>
    <tr>
        <th>Code</th>
        <th>Title</th>
        <th>Credits</th>
        <th>Sections</th>
    </tr>
</thead>
<tbody>
<% subjects.forEach(function(subject){ %>
    <tr>
        <td scope="row"><%= subject.code%></td>
        <td><%= subject.title%></td>
        <td><%= subject.credits%></td>
        <td><%= subject.sections%></td>
    </tr>
    <% }); %>
</tbody>
<div class="container">
</body>
<% include ../partial/linkunderbody %> 
</html>